body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

#TituloAbout {
  font-size: 4em;
  font-weight: bold;
}

#navbarDropdown {
  cursor: pointer;
}

.dropdown-menu {
  margin-left: -70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  cursor: pointer !important;
}

a:hover {
  background: #f1d258;
}

.card {
  padding: 5px;
  margin: 5px;
}

.card-header {
  text-align: center;
}
.card-body {
  text-align: justify;
}

.navbar {
  font-family: "Hind Vadodara", sans-serif;
  background: #f1890c;
}

h1 {
  font-family: "Hind Vadodara", sans-serif;
}
h2 {
  font-family: "Hind Vadodara", sans-serif;
}

h4 {
  font-family: "Hind Vadodara", sans-serif;
}

h5 {
  font-family: "Source Sans Pro", sans-serif;
}
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

li {
  font-family: "Hind Vadodara", sans-serif;
}

.cls-1 {
  fill: red;
}
.cls-2 {
  fill: #fff;
  stroke: #fff;
  stroke-miterlimit: 10;
}

button {
  font-family: "Source Sans Pro", sans-serif;
}

.card-header {
  font-family: "Hind Vadodara", sans-serif;
}

.card-body {
  font-family: "Source Sans Pro", sans-serif;
}

#formNuevaActividadPersonal {
  font-family: "Source Sans Pro", sans-serif;
}

#menuLogin {
  font-family: "Source Sans Pro", sans-serif;
}
#menuRegister {
  font-family: "Source Sans Pro", sans-serif;
}

#footer {
  font-family: "Source Sans Pro", sans-serif;
}

#title {
  color: #0d0d0d;
}

#botonVerActividades {
  font-size: x-large;
  margin-top: -10px;
  font-family: "Source Sans Pro", sans-serif;
}

#nuevaActividadPersonal {
  width: max-content;
  margin: 0 auto;
  float: none;
  margin-top: 60px;
}

#menuLogin,
#menuRegister {
  visibility: hidden;
  position: absolute;
  background-color: #f1890c;
  padding: 15px;
  z-index: 3;
  width: 300px;
  border-radius: 15px;
  margin-top: -10px;
  margin-left: 76.7vw;
}

#descripcionAbout {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 1.5em;
  line-height: 40px;
}

.card-header {
  background-color: #ffd340;
}

.border-primary {
  border-color: #f1890c !important;
}

.yaGuardada {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.yaGuardada:hover {
  color: #000;
  background-color: #f1890c;
  border-color: #f1890c;
}
