body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

#TituloAbout {
  font-size: 4em;
  font-weight: bold;
}

#navbarDropdown {
  cursor: pointer;
  color: #212529;
}

.dropdown-menu {
  margin-left: -70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a, Link {
  cursor: pointer !important;
}

li > a:hover {
  background: #f1d258;
}

.card {
  padding: 5px;
  margin: 5px;
}

.card-header {
  text-align: center;
}
.card-body {
  text-align: justify;
}

.navbar {
  font-family: "Hind Vadodara", sans-serif;
  background: #f1890c;
}

h1, h2, h3, h4, h5, h6, li {
  font-family: "Hind Vadodara", sans-serif;
}

button, .card-body, #formNuevaActividadPersonal, #footer {
  font-family: "Source Sans Pro", sans-serif;
}

.card-header {
  font-family: "Hind Vadodara", sans-serif;
}

#title, strong {
  color: #212529;
}

#botonVerActividades {
  font-size: x-large;
  margin-top: -10px;
  font-family: "Source Sans Pro", sans-serif;
}

#nuevaActividadPersonal {
  width: max-content;
  margin: 0 auto;
  float: none;
  margin-top: 60px;
}

#menuLogin,
#menuRegister {
  font-family: "Source Sans Pro", sans-serif;
  visibility: hidden;
  position: absolute;
  background-color: #f1890c;
  padding: 15px;
  z-index: 3;
  width: 300px;
  border-radius: 15px;
  margin-top: -10px;
  margin-left: 76.7vw;
}

#descripcionAbout {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 1.5em;
  line-height: 40px;
}

.card-header {
  background-color: #ffd340;
}

.border-primary {
  border-color: #f1890c !important;
}

.yaGuardada {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.yaGuardada:hover {
  color: #212529;
  background-color: #f1890c;
  border-color: #f1890c;
}
