body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbarDropdown {
  cursor: pointer;
}

.dropdown-menu {
  margin-left: -90px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  cursor: pointer !important;
}

.card {
  padding: 5px;
  margin: 5px;
}

.navbar {
  background: rgb(28, 176, 233);
  background: linear-gradient(
    180deg,
    rgba(28, 176, 233, 1) 29%,
    rgba(2, 136, 224, 1) 72%
  );
}

#title {
  color: #0d0d0d;
}

#nuevaActividadPersonal {
  width: max-content;
  margin: 0 auto;
  float: none;
  margin-top: 60px;
}

#menuLogin,
#menuRegister {
  visibility: hidden;
  position: absolute;
  background-color: #1cb0e9;
  padding: 15px;
  z-index: 3;
  width: 300px;
  border-radius: 15px;
  margin-top: -10px;
  margin-left: 76.7vw;
}

#descripcionAbout {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 1.5em;
}
